@charset "UTF-8";

html {
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background: #f6f6f6;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: 'Montserrat',  sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.responsiv__img {
  max-width: 100%;
  height: auto;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link__more {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #32A14A;
}

.link__more::after {
  content: "";
  background: url("../img/icons/link.svg") no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  right: -45px;
}

.link__more-white {
  position: relative;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.link__more-white::after {
  content: "";
  background: url("../img/icons/link-white.svg") no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -7px;
  right: -45px;
}

.header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 108.4%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 30px;
  margin-right: 30px;
}

.contacts {
  max-width: 224px;
  width: 100%;
}

.contacts__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.contacts__address {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

.contacts__address::before {
  content: '';
  background: url("../img/icons/address.svg") no-repeat;
  top: 0;
  left: -18px;
  width: 12.09px;
  height: 16.22px;
  position: absolute;
}

.contacts__phone {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.contacts__phone::before {
  content: '';
  background: url("../img/icons/phone.svg") no-repeat;
  top: 0;
  left: -18px;
  width: 13px;
  height: 13px;
  position: absolute;
}

.btn__contactus {
  background: #FFD80D;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
  padding: 17px 20px;
  border: none;
}

.btn__contactus:hover,
.btn__contactus:active,
.btn__contactus:focus {
  background: -o-linear-gradient(294.23deg, #30A049 14.05%, #42A658 154.63%);
  background: linear-gradient(155.77deg, #30A049 14.05%, #42A658 154.63%);
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.contacts__icon {
  margin-right: 5px;
  margin-top: -5px;
}

.header__bottom {
  position: relative;
  background: -o-linear-gradient(294.23deg, #30A049 14.05%, #42A658 154.63%);
  background: linear-gradient(155.77deg, #30A049 14.05%, #42A658 154.63%);
  min-height: 76px;
}

.header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile__menu {
  padding: 28px 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 30px 52px;
}

.menu__link:hover {
  background: rgba(0, 0, 0, 0.18);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.pc__menufull {
  display: none;
  background: #ffffff;
  position: absolute;
  top: 218px;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-bottom: 20px;
}

.pc__menufull-active {
  display: block !important;
}

.mob__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
}

.mob__menu-title {
  margin-right: 50px;
  margin-bottom: 50px;
}

.mmenu-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.mob__menu-item {
  margin-bottom: 10px;
}

.mob__menu-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #313131;
  margin: 0;
  padding: 0;
}

.mob__menu-link:hover {
  color: #34A14C;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.mobile__menufull-close {
  position: absolute;
  top: 20px;
  left: 0px;
}

.header__bottom-mobile {
  display: none;
  background: -o-linear-gradient(294.23deg, #30A049 14.05%, #42A658 154.63%);
  background: linear-gradient(155.77deg, #30A049 14.05%, #42A658 154.63%);
  height: 88px;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 99999;
  padding-top: 15px;
}

.mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mobile__full {
  position: fixed;
  background: -o-linear-gradient(294.23deg, #30A049 14.05%, #42A658 154.63%);
  background: linear-gradient(155.77deg, #30A049 14.05%, #42A658 154.63%);
  top: -1500px;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.mobile__full-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 15px;
  margin-bottom: 50px;
}

.mobile__full-active {
  top: 0;
}

.mobile__full-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile__full-item {
  margin-bottom: 40px;
}

.mobile__full-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile__full-link:hover,
.mobile__full-link:active,
.mobile__full-link:focus {
  color: #FFD80D;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.header__info {
  background: -o-linear-gradient(327.94deg, #30A049 10.32%, #489C5A 97.3%);
  background: linear-gradient(122.06deg, #30A049 10.32%, #489C5A 97.3%);
  min-height: auto;
}

.header__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 80px;
}

.header__info-text {
  max-width: 525px;
  width: 100%;
}

.header__info-title {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__info-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 157%;
  text-align: justify;
  letter-spacing: 0.045em;
  color: #FFFFFF;
  margin-top: 50px;
}

.about__info {
  margin-top: 50px;
  margin-bottom: 86px;
}

.about__info-text {
  max-width: 600px;
  width: 100%;
  margin-bottom: 50px;
}

.about__info-title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.07em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.about__info-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 146.9%;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.quality__policy {
  margin-bottom: 86px;
}

.quality__policy-block {
  max-width: 810px;
  width: 100%;
  min-height: 465px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 55px 75px;
}

.quality__policy-top {
  margin-bottom: 46px;
}

.quality__policy-title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.07em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.quality__policy-desc {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 146.9%;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.quality__policy-item {
  position: relative;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.81px;
  line-height: 24.81px;
  margin-bottom: 63px;
  padding-left: 90px;
}

.quality__policy-item1::before {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  background: url("../img/quality__policy/iteam1.svg") no-repeat;
  top: -15px;
  left: 0;
}

.quality__policy-item2::before {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  background: url("../img/quality__policy/iteam2.svg") no-repeat;
  top: -10px;
  left: 0;
}

.society__tasks {
  margin-bottom: 86px;
}

.society__tasks-block {
  max-width: 810px;
  width: 100%;
  min-height: 1015px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #2fa74a;
  margin: 0 auto;
  padding: 55px 117px;
}

.society__tasks-title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1.82px;
  margin: 0;
  padding: 0;
  margin-bottom: 58px;
}

.tasks__item {
  max-width: 660px;
  width: 100%;
  min-height: 115px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tasks__item-text {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 143.4%;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  max-width: 498px;
}

.tasks__item-1::before {
  content: "";
  background: url("../img/society__tasks/iteam1.svg") no-repeat;
  position: absolute;
  top: -10px;
  left: 0;
  width: 69px;
  height: 69px;
}

.tasks__item-2::before {
  content: "";
  background: url("../img/society__tasks/iteam2.svg") no-repeat;
  position: absolute;
  top: -10px;
  left: 0;
  width: 69px;
  height: 69px;
}

.tasks__item-3::before {
  content: "";
  background: url("../img/society__tasks/iteam3.svg") no-repeat;
  position: absolute;
  top: -10px;
  left: 0;
  width: 69px;
  height: 69px;
}

.tasks__item-4::before {
  content: "";
  background: url("../img/society__tasks/iteam4.svg") no-repeat;
  position: absolute;
  top: -10px;
  left: 0;
  width: 69px;
  height: 69px;
}

.tasks__item-5::before {
  content: "";
  background: url("../img/society__tasks/iteam5.svg") no-repeat;
  position: absolute;
  top: -10px;
  left: 0;
  width: 69px;
  height: 69px;
}

.tasks__item-6::before {
  content: "";
  background: url("../img/society__tasks/iteam6.svg") no-repeat;
  position: absolute;
  top: -10px;
  left: 0;
  width: 69px;
  height: 69px;
}

.local__regulations .section__title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.07em;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left !important;
  margin-bottom: 50px;
}

.local__regulations .wrapper {
  -webkit-box-align: normal !important;
  -ms-flex-align: normal !important;
  align-items: normal !important;
  -webkit-box-pack: normal !important;
  -ms-flex-pack: normal !important;
  justify-content: normal !important;
  -ms-flex-wrap: inherit !important;
  flex-wrap: inherit !important;
}

.local__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.07em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.product__type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product__type-item {
  max-width: 390px;
  width: 100%;
  min-height: 95px;
  background: #2FA74A;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.product__type-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 101.4%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.normative__acts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product__type {
  margin-right: 30px;
}

.normative__acts-item {
  max-width: 390px;
  width: 100%;
  min-height: 95px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}

.normative__acts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.acts__title {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.07em;
  color: #868686;
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 315px;
}

.acts__download {
  padding: 20px;
  text-align: center;
}

.download__link {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.07em;
  color: #000000;
  text-align: center;
}

.personnel__policy {
  margin-bottom: 86px;
}

.personnel__policy-info {
  max-width: 525px;
}

.personnel__policy-title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.07em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.personnel__policy-desc {
  font-weight: 300;
  font-size: 17px;
  line-height: 146.9%;
  letter-spacing: 0.045em;
  color: #000000;
}

.personnel__policy-block {
  max-width: 810px;
  width: 100%;
  min-height: 364px;
  background: -o-linear-gradient(342.68deg, #2FA74A 14.48%, #27933F 114.38%);
  background: linear-gradient(107.32deg, #2FA74A 14.48%, #27933F 114.38%);
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 60px 80px;
}

.personnel__policy-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: justify;
  letter-spacing: 0.045em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.personnel__policy-block2 {
  max-width: 390px;
  width: 100%;
}

.personnel__policy-block2 .personnel__policy-text {
  color: #000000;
}

.manual {
  margin-bottom: 204px;
}

.manual .section__title {
  text-align: left !important;
}

.manual__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.manual__item {
  max-width: 390px;
  width: 100%;
  min-height: 95px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 30px;
}

.manual__item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.manual__item-post {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 146.9%;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.slider {
  position: relative;
}

.slider__item1 {
  background: url("../img/slider/item1.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  height: 606px;
}

.slider__item1:focus {
  outline: none;
}

.slider__title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 200px;
  max-width: 570px;
}

.slick-dots {
  left: -480px;
  bottom: 95px;
}

.slick-dots li {
  margin-right: 70px;
}

.slick-dots li button {
  width: 75px;
  height: 4px;
  padding: 0px !important;
  border-radius: 25px;
  background: #555352;
}

.slick-dots .slick-active button {
  background: #FFFFFF;
}

.slick-next {
  margin: 0px 50px;
}

.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  left: 33%;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: 0 0;
  color: transparent;
  top: 80.3%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: 0;
  z-index: 99999;
}

.slider .slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 30px !important;
  line-height: 1;
  color: #fff !important;
  opacity: .75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.about {
  margin-bottom: 86px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__item {
  max-width: 670px;
  width: 100%;
  min-height: 460px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 10px 10px;
  padding: 52px 40px;
}

.about__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 29px;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #2D2D2D;
  max-width: 525px;
  margin-bottom: 46px;
}

.about__link {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #32A14A;
}

.about__link::after {
  content: "";
  background: url("../img/icons/link.svg") no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  right: -45px;
}

.about__card {
  max-width: 495px;
  width: 100%;
  min-height: 356px;
  z-index: 999;
  margin-top: -100px;
}

.about__card-bg {
  background: url("../img/about/item1.png") no-repeat;
  background-size: cover;
  height: 287px;
  border-radius: 10px 10px 0px 0px;
}

.about__card-title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.69px;
  text-transform: uppercase;
  max-width: 430px;
  padding: 85px 75px;
}

.about__card-bottom {
  background: -o-linear-gradient(339.07deg, #32A14A 9.76%, #35C555 150.88%);
  background: linear-gradient(110.93deg, #32A14A 9.76%, #35C555 150.88%);
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 10px 10px;
  min-height: 239px;
  padding: 27px 75px;
}

.about__card-info {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.77px;
  line-height: 24.97px;
  margin-bottom: 61px;
}

.about__card-link {
  position: relative;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.about__card-link::after {
  content: "";
  background: url("../img/icons/link-white.svg") no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -7px;
  right: -45px;
}

.advantage {
  margin-bottom: 100px;
}

.advantage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section__title {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.68px;
  text-align: center;
  margin-bottom: 70px;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantage__group {
  max-width: 315px;
  margin-left: 40px;
  margin-right: 40px;
}

.advantage__item {
  display: block;
  position: relative;
  margin-bottom: 100px;
}

.advantage__item::before {
  content: "";
  position: absolute;
  background: #E9E9F0;
  width: 1px;
  height: 115px;
  top: 30px;
  left: -50px;
}

.advantage__item:last-child:before {
  background: none;
}

.advantage__title {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.81px;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.advantage__desc {
  color: #444444;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.63px;
  margin: 0;
  padding: 0;
}

.partners {
  position: relative;
  max-width: 390px;
  width: 100%;
  height: 410px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px 20px;
}

.partners__list {
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
}

.partners__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 14px;
}

.partners__item:focus {
  outline: none;
}

.partners__wrapper {
  padding-right: 45px;
  padding-top: 50px;
  text-align: center;
}

.advantage__icon {
  position: relative;
}

.advantage__icon::before {
  content: "";
  background: url("../img/icons/test.svg") no-repeat;
  position: absolute;
  width: 37px;
  height: 37px;
  top: -8px;
  right: 30px;
}

.our__production {
  margin-bottom: 86px;
}

.production__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.production__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 50px;
}

.production__poster-pl {
  margin-bottom: 27px !important;
}

.production__item {
  display: block;
  max-width: 390px;
  width: 100%;
  min-height: 434px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 40px 65px;
  margin-bottom: 20px;
}

.production__poster {
  text-align: center;
  margin-bottom: 23px;
}

.production__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.production__item-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.045em;
  color: #444444;
}

.production__item-link:hover {
  color: #2fa74a;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.production__item-link {
  display: block;
  margin-bottom: 10px;
}

.production__link {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #32A14A;
}

.production__link::after {
  content: "";
  background: url("../img/icons/link.svg") no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  right: -45px;
}

.production__item-list {
  margin-bottom: 41px;
}

.order__products {
  margin-top: 100px;
}

.order__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.order__desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.045em;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.priority__policy {
  margin-top: 86px;
}

.priority__policy-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.07em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.priority__policy-desc {
  max-width: 495px;
  font-weight: 300;
  font-size: 17px;
  line-height: 146.9%;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.priority__policy-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 146.9%;
  text-align: left;
  letter-spacing: 0.045em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 65px;
}

.maps {
  margin-bottom: 86px;
}

.maps__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.07em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.maps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.maps__list {
  margin-top: 50px;
}

.maps__item {
  max-width: 390px;
  min-height: 160px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #f6f6f6;
  margin-bottom: 60px;
}

.maps__info {
  padding: 0px 52px;
}

.maps__name {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.72px;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-left: 52px;
  margin-bottom: 14px;
}

.maps__address {
  position: relative;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.maps__address::before {
  content: '';
  background: url("../img/icons/address.svg") no-repeat;
  top: 3px;
  left: -18px;
  width: 15px;
  height: 15px;
  position: absolute;
}

.maps__phone {
  position: relative;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.maps__phone::before {
  content: '';
  background: url("../img/icons/phone.svg") no-repeat;
  top: 0;
  left: -18px;
  width: 13px;
  height: 13px;
  position: absolute;
}

.maps__frame {
  border-radius: 10px;
  margin-left: auto;
}

.order__form {
  max-width: 810px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 86px;
}

.order__form-top {
  min-height: 77px;
  border-radius: 10px 10px 0px 0px;
  background: -o-linear-gradient(357.25deg, #2FA74A 34.88%, #029824 114.45%);
  background: linear-gradient(92.75deg, #2FA74A 34.88%, #029824 114.45%);
  text-align: center;
}

.order__form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  padding-top: 27px;
}

.form__order {
  padding: 30px 180px;
}

.order__form-content {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.form__order-group {
  display: block;
  height: 70px;
  margin-bottom: 30px;
}

.label__text {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
}

.user__input {
  max-width: 450px;
  width: 100%;
  height: 55px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  background-color: #eeeeee;
  border: none;
}

.btn__order {
  display: block;
  width: 100%;
  height: 55px;
  margin: 0 auto;
}

.order__form-line {
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.11);
}

.btn__order {
  background: #FFD80D;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  margin-top: 20px;
}

.btn__order:hover,
.btn__order:focus,
.btn__order:active {
  background: #32A14A;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #2B2B2B;
  min-height: 408px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
}

.fmenu__item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.fmenu__list-item {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.fmenu__list-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A4ACB1;
}

.fmenu__list-link:hover,
.fmenu__list-link:active,
.fmenu__list-link:focus {
  color: #FFD80D;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
}

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A4ACB1;
  margin-left: 50px;
}

@media (max-width: 1218px) {
  .menu__link {
    padding: 29px 36px;
  }

  .logo__text {
    font-size: 16px;
  }

  .slick-dots {
    left: -460px !important;
  }

  .advantage__group {
    margin-right: 30px;
  }
}

@media (max-width: 1209px) {
  .about__item {
    max-width: 570px;
  }

  .production__list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .production__item {
    margin-right: 30px;
  }
}

@media (max-width: 1100px) {
  .about__item {
    max-width: 500px;
  }

  .menu__link {
    padding: 29px 30px;
  }
}

@media (max-width: 1000px) {
  .menu {
    display: none;
  }

  .logo__text {
    display: none;
  }

  .contacts__pro {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__top {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .header__bottom-mobile {
    display: block;
  }

  .slider {
    margin: 115px 15px;
    border-radius: 10px !important;
  }

  .slider__item {
    height: 442px;
    border-radius: 10px !important;
  }

  .slider__title {
    margin-top: 87px;
  }

  .slick-next,
  .slick-prev {
    display: none !important;
  }

  .slick-dots {
    left: 0 !important;
    bottom: -40px;
  }

  .slick-dots .slick-active button {
    background: #000000 !important;
  }

  .slider__title {
    font-size: 24px;
  }

  .about__item {
    max-width: 100%;
    border-radius: 10px !important;
    margin-top: 50px;
    margin-bottom: 120px;
  }

  .about__card {
    max-width: 100%;
  }

  .advantage__group {
    margin-left: auto;
  }

  .form__order {
    padding: 30px 30px;
  }

  .order__form-title {
    font-size: 16px;
  }

  .about__card-title {
    padding: 85px 25px;
  }

  .about__card-bottom {
    padding: 27px 25px;
  }
}

@media (max-width: 600px) {
  .quality__policy-block {
    padding: 55px 25px;
  }

  .society__tasks-block {
    padding: 55px 25px;
  }

  .local__regulations .wrapper {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .product__type {
    margin-right: 0;
  }

  .product__type-item {
    max-width: 100% !important;
  }

  .normative__acts-list {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .partners__list {
    margin-right: 70px;
    margin-left: 70px;
  }
}

.webp .slider__item1{ background: url(../img/slider/item1.webp) no-repeat; }

.webp .about__card-bg{ background: url(../img/about/item1.webp) no-repeat; }